.product-card {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	box-shadow: 8px 8px 12px -6px rgba(0, 0, 0, 0.1);
	border: solid 1px transparent;
	border-radius: 8px;
	background: #fff;
	color: #111;
	padding: 1rem;
	color: #333;
	transition: box-shadow 0.1s ease-in-out, transform 0.2s ease-in-out;
	max-width: 200px;
}

.product-card:hover {
	box-shadow: 12px 12px 18px -6px rgba(0, 0, 0, 0.2);
	transform: scale(1.03);
}

.product-card h3 {
	margin: 0;
}

.product-card span {
	font-size: 1rem;
	opacity: 0.9;
}

.product-card img {
	border-radius: 4px;
	width: 100%;
	aspect-ratio: 16/9;
	display: block;
	object-fit: cover;
	background: #fff;
}

.product-card .info {
	display: flex;
	flex-direction: column;
}

.info p {
	margin: 0;
	text-align: left;
	width: 100%;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.info .category {
	font-size: 10px;
	text-transform: uppercase;
}
.info .name {
	font-size: 16px;
}
.info .price {
	font-size: 18px;
	font-weight: 800;
}

.product-card .actions {
	display: flex;
	gap: 4px;
}
